In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service

In [2]:
service_obj=Service(r"E:\chromedriver-win64\chromedriver.exe")
driver=webdriver.Chrome(service=service_obj)
import time
driver.maximize_window()

In [3]:
driver.get("https://myanimelist.net/")
driver.find_element(By.XPATH,"(//a[@class='view_more fl-r'])[1]").click()

In [4]:
titles=driver.find_elements(By.XPATH,"(//td[@class='title al va-t word-break'])")

In [5]:
len(titles)

50

In [9]:
ratings=driver.find_elements(By.XPATH,"(//td[@class='score ac fs14'])")
len(ratings)

50

In [10]:
ranks=[]
names=[]
descs=[]
scores=[]
i=0

In [13]:
for j in titles:

    name_ele = j.find_element(By.XPATH, ".//a[@class='hoverinfo_trigger']")
    desc_ele = j.find_element(By.XPATH, ".//div[@class='information di-ib mt4']")
    name = name_ele.text
    names.append(name)
    desc = desc_ele.text
    descs.append(desc)
    i=i+1
    ranks.append(i)

###
for k in ratings:

    score_ele = k.find_element(By.XPATH, ".//div[@class='js-top-ranking-score-col di-ib al']")
    score = score_ele.text
    scores.append(score)

## converting it into .csv file and array

In [19]:
import pandas as pd
data={'Rank':ranks,'Anime_Name':names,'Anime_ Description':descs,'Score':scores}
df=pd.DataFrame(data)
df.head()

,Rank,Anime_Name,Anime_ Description,Score
0,1,Fullmetal Alchemist: Brotherhood,"TV (64 eps)\nApr 2009 - Jul 2010\n3,230,444 me...",9.10
1,2,Steins;Gate,"TV (24 eps)\nApr 2011 - Sep 2011\n2,482,734 me...",9.07
2,3,Gintama°,"TV (51 eps)\nApr 2015 - Mar 2016\n607,784 members",9.06
3,4,Bleach: Sennen Kessen-hen,"TV (13 eps)\nOct 2022 - Dec 2022\n482,156 members",9.05
4,5,Shingeki no Kyojin Season 3 Part 2,"TV (10 eps)\nApr 2019 - Jul 2019\n2,158,800 me...",9.05

In [20]:
df.to_csv("1903004.csv",index=False)